.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

armor-list, armor-visual {
  display: block;
  flex: 1; 
  margin-left: 10px;
}

.spacer {
  width: 10px;
}