
<technique-editor *ngIf="editedTeq" (done)="editDone()" [technique]="editedTeq" [skills]="skills"></technique-editor>
<div class="table-container">
  <div class="table-caption">
    <div class="table-caption-content">Techniques </div>
  </div>
  <table class="toplevel">
    <tr>
      <th>Name</th>
      <th>Diff</th>
      <th>Default</th>
      <th>Level</th>
      <th>Total</th>
      <th>Cost</th>
      <th> </th>
      <th></th>
    </tr>
    <tr class="list" *ngFor="let tech of _techniques; let i = index">    
      <td class="name">{{tech.tchString}}</td>
      <td class="numval">{{tech.diff}}</td>
      <td class="numval">{{tech.defLvl}}</td>
      <td class="numval">
        <input class="cost" type="number" [(ngModel)]="tech.relLvl" (change)="techChanged()">
      </td>
      <td class="numval">{{tech.lvl}}</td>
      <td class="numval">{{tech.cp}}</td>
      <td class="controls">
        <svg-icon class="button" src="/assets/svg/edit.svg" title="Edit" (click)="edit(i)"></svg-icon>
        <svg-icon class="button" src="/assets/svg/trash.svg" title="Remove" (click)="remove(i)">     </svg-icon>
      </td>
    </tr>
    <tr>
      <td colspan="8">
        <search-block [api]="techsrv" (newitem)="add($event)"></search-block>
      </td>
    </tr>
  </table>
</div>