technique-editor(*ngIf='editedTeq', (done)='editDone()', [technique]='editedTeq', [skills]='skills')
.skills
  table.toplevel
    caption(align='center' valign='top') Techniques 
    tr
      th Name
      th Diff
      th Default
      th Level
      th Total
      th Cost
      th 
      th
    tr.list(*ngFor='let tech of _techniques; let i = index')     
      td.name {{tech.tchString}}
      td.numval {{tech.diff}}
      td.numval {{tech.defLvl}}
      td.numval: input.cost(type='number', [(ngModel)] = 'tech.relLvl', (change)='techChanged()')
      td.numval {{tech.lvl}}
      td.numval {{tech.cp}}
      td.controls
        svg-icon.button(src='/assets/svg/edit.svg', title='Edit', (click)='edit(i)')
        svg-icon.button(src='/assets/svg/trash.svg', title='Remove', (click)='remove(i)')      
    tr
      td(colspan=8)
        search-block([api]='techsrv', (newitem)='add($event)')
