.nav
    .nav-inner
        .container
            ul.nav.nav-pills
                li(role='presentation' class=(current == 'home' ? 'active' : '') ): a(href='/') Home
                li(role='presentation' class=(current == 'travel' ? 'active' : '') ): a(href='/travel.html') Travels
                li(role='presentation' class=(current == 'edge_protection' ? 'active' : '') ): a(href='/edge_protection.html') Edge Protection
