ul {
  list-style-type: none;
  margin: 5px;
  padding-left: 0px;
}

ul li {
  display: inline-block;
  margin-left: 10px;
  /*background-image: -webkit-gradient(linear, left top, left bottom, from(start-color), to(end-color));
  background-image: -webkit-linear-gradient(top, start-color, end-color);
  background-image: -moz-linear-gradient(top, start-color, end-color);*/
  /*background-image: linear-gradient(to bottom, #606060, #4e4e4e);*/
  /*padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px #5f5f5f;*/
}

/*ul li:hover {
  background-image: linear-gradient(to top, #606060, #4e4e4e);
}*/

li a {
  font-size: 11pt;
}


.dropdown {
  position: relative;  
}

app-char-list{
  width: 300px;
  position: absolute; 
  z-index: 100;
}

