skill-editor(*ngIf='editedSkill', (done)='editFinished()', [skill]='editedSkill')
.skills
  table.toplevel
    caption(align='center' valign='top') Skills
    tr
      th Name
      th Type
      th Rel
      th Bonus
      th Total
      th Cost
      th 
      th
    tr(*ngFor='let skill of _skills; let i = index')     
      td {{skill.skillString}}
      td.numval {{skillType(skill)}}
      td: input.cost(type='number', [(ngModel)] = 'skill.relLvl', (change)='skillChanged()')
      td.numval {{skill.bonus}}
      td.numval {{skill.lvl}}
      td.numval {{skill.cp}}
      td: a((click)='editSkill(i)') Edit
      td: a((click)='removeSkill(i)') Remove
    tr
      td(colspan=8)
        search-block([api]='skillssrv', (newitem)='addSkill($event)')
