
<skill-editor *ngIf="editedSkill" (done)="editFinished()" [skill]="editedSkill"></skill-editor>
<div class="skills">
  <table class="toplevel">
    <caption align="center" valign="top">Skills</caption>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Rel</th>
      <th>Bonus</th>
      <th>Total</th>
      <th>Cost</th>
      <th> </th>
      <th></th>
    </tr>
    <tr *ngFor="let skill of _skills; let i = index">    
      <td>{{skill.skillString}}</td>
      <td class="numval">{{skillType(skill)}}</td>
      <td>
        <input class="cost" type="number" [(ngModel)]="skill.relLvl" (change)="skillChanged()">
      </td>
      <td class="numval">{{skill.bonus}}</td>
      <td class="numval">{{skill.lvl}}</td>
      <td class="numval">{{skill.cp}}</td>
      <td><a (click)="editSkill(i)">Edit</a></td>
      <td><a (click)="removeSkill(i)">Remove</a></td>
    </tr>
    <tr>
      <td colspan="8">
        <search-block [api]="skillssrv" (newitem)="addSkill($event)"></search-block>
      </td>
    </tr>
  </table>
</div>