skill-editor(*ngIf='editedSkill', (done)='editFinished()', [skill]='editedSkill')
.table-container
  .table-caption
    .table-caption-content Skills
  table.toplevel
    tr
      th Name
      th Type
      th Rel
      th Bonus
      th Total
      th Cost
      th 
      th
    tr.list(*ngFor='let skill of _skills; let i = index')     
      td.name {{skill.skillString}}
      td.numval {{skillType(skill)}}
      td.numval: input.cost(type='number', [(ngModel)] = 'skill.relLvl', (change)='skillChanged()')
      td.numval {{skill.bonus}}
      td.numval {{skill.lvl}}
      td.numval {{skill.cp}}
      td.controls
        svg-icon.button(src='/assets/svg/edit.svg', title='Edit', (click)='editSkill(i)')
        svg-icon.button(src='/assets/svg/trash.svg', title='Remove', (click)='removeSkill(i)')      
    tr
      td(colspan=8)
        search-block([api]='skillssrv', (newitem)='addSkill($event)')
