:host {
  background: #3e4b54;
  color: #abbec6;
  z-index: 100;   
}

app-char-list {
  display: inline-block;  
}

.container {
  display: none;
  padding: 5px;
  padding-top: 10px;
  border-color: #9fb0b9;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  box-shadow: 7px 7px 7px #2b363e;
}

.visible {
  display: block;
  z-index: 100; 
}