h3 {{category}}s
trait-editor(*ngIf='edited_trait', (editDone)='editFinished()', (editCancel)='editCanceled()', [trait]='edited_trait')
table
  tr
    th Name
    th Cost
    th 
  tr(*ngFor='let trait of filtered; let i = index')
    td: .name {{trait.name}}
    td: .cost {{trait.cp}}
    td: a((click)='editTrait(trait)') Edit
    td: a((click)='removeTrait(i)') Remove  
  tr
    td(colspan=4)
      .search_block
        input(type='text', [(ngModel)]='searchTerm', placeholder='Search')
        span or
        a((click)='addTrait()') Add New
        .search_results(*ngIf='search_results')
          table
            tr(*ngFor='let res of search_results; let i = index')
              td: a((click)='addFromSearch(i)') {{res.name}}
            tr: td: a((click)='cancelSearch()') Cancel Search
