trait-editor(*ngIf='edited_trait', (editDone)='editFinished()', (editCancel)='editCanceled()', [trait]='edited_trait')
table.toplevel
  caption(align='center', valign='top') {{category}}s
  tr
    th Name
    th Cost
    th 
  tr(*ngFor='let trait of filtered; let i = index')
    td.name: .name {{trait.traitString}}
    td: .cost {{trait.cp}}
    td: a((click)='editTrait(i)') Edit
    td: a((click)='removeTrait(i)') Remove  
  tr
    td(colspan=4)
      search-block(
        [search_results]='search_results',
        (add_new)='addTrait()',
        (add_from_search)='addFromSearch($event)',
        (search_term)='searchTrait($event)',
        (cancel_search)='cancelSearch()'
      )
            
