
<trait-editor *ngIf="edited_trait" (editDone)="editFinished()" (editCancel)="editCanceled()" [trait]="edited_trait"></trait-editor>
<table class="toplevel">
  <caption align="center" valign="top">{{category}}</caption>
  <tr>
    <th>Name</th>
    <th>Cost</th>
    <th> </th>
  </tr>
  <tr *ngFor="let trait of filtered; let i = index">
    <td class="name">
      <div class="name">{{trait.traitString}}</div>
    </td>
    <td>
      <div class="cost">{{trait.cp}}</div>
    </td>
    <td><a (click)="editTrait(i)">Edit</a></td>
    <td><a (click)="removeTrait(i)">Remove  </a></td>
  </tr>
  <tr>
    <td colspan="4">
      <search-block [api]="searchAdapter" (newitem)="addTrait($event)"></search-block>
    </td>
  </tr>
</table>