.traits {
  display: inline-block;
  vertical-align: top;
}

app-skill-list {
  display: inline-block;
  vertical-align: top;
}

table table{
  vertical-align: top;
  padding-top: 0px; 
}

input.cost {
  width: 45px;
}