.to_top {
  vertical-align: top;
}

table.mainvars td {  
  vertical-align: top;
}

.container {
  display: inline-block;
  vertical-align: top;
}

app-skill-list {
  display: inline-block;
  vertical-align: top;
}

.file {
  display: none;
}

input.cost {
  width: 45px;
}