<table *ngIf="current">
  <tr>
    <td>
      <table>
        <tr> <td>ST:</td ><td> <app-stat-block [name]="'st'" [stat]="current.stats.st"></app-stat-block> </td></tr>
        <tr> <td>DX:</td> <td> <app-stat-block [name]="'dx'" [stat]="current.stats.dx"></app-stat-block> </td></tr>
        <tr> <td>IQ:</td> <td> <app-stat-block [name]="'iq'" [stat]="current.stats.iq"></app-stat-block> </td></tr>
        <tr> <td>HT:</td> <td> <app-stat-block [name]="'ht'" [stat]="current.stats.ht"></app-stat-block> </td></tr>
        <tr> <td>Will:</td> <td> <app-stat-block [name]="'will'" [stat]="current.stats.will"></app-stat-block> </td></tr>
        <tr> <td>Per:</td> <td> <app-stat-block [name]="'per'" [stat]="current.stats.per"></app-stat-block> </td></tr>        
      </table>
    </td>
    <td>
      <table>
        <tr> <td>Lift ST:</td ><td> <app-stat-block [name]="'liftSt'" [stat]="current.stats.liftSt"></app-stat-block> </td></tr>
        <tr> <td>Strike ST:</td> <td> <app-stat-block [name]="'strikeSt'" [stat]="current.stats.strikeSt"></app-stat-block> </td></tr>
        <tr> <td>BM:</td> <td> <app-stat-block [name]="'basicMove'" [stat]="current.stats.basicMove"></app-stat-block> </td></tr>
        <tr> <td>BS:</td> <td> <app-stat-block [name]="'basicSpeed'" [stat]="current.stats.basicSpeed"></app-stat-block> </td></tr>
        <tr> <td>FP:</td> <td> <app-stat-block [name]="'fp'" [stat]="current.stats.fp"></app-stat-block> </td></tr>
        <tr> <td>HP:</td> <td> <app-stat-block [name]="'hp'" [stat]="current.stats.hp"></app-stat-block> </td></tr>
      </table>
    </td>    
  </tr>
</table>
