
<div *ngIf="current">
  <div>
    <table>
      <tr></tr>
      <td>Name 
        <input type="text" name="name" [(ngModel)]="current.name" (change)="mainInfoChanged($event)"/>
      </td>
      <td>Player
        <input type="text" name="player" [(ngModel)]="current.player" (change)="mainInfoChanged($event)"/>
      </td>
    </table>
  </div>
  <div>
    <table class="mainvars">
      <tr>
        <td><img [src]="portraitUrl" (click)="uploadPortrait()"/>
          <input class="file" type="file" (change)="processUpload($event)" id="portrait_file"/>
        </td>
        <td>
          <table class="top">    
            <tr>
              <td><b>ST:</b></td>
              <td>
                <app-stat-block [statName]="'st'" [stat]="current.stats.st" (statChanged)="statChanged($event)"></app-stat-block>
              </td>
              <td>{{current.stats.st.cp}}</td>
            </tr>
            <tr>
              <td><b>DX:</b></td>
              <td>
                <app-stat-block [statName]="'dx'" [stat]="current.stats.dx" (statChanged)="statChanged($event)"></app-stat-block>
              </td>
              <td>{{current.stats.dx.cp}}</td>
            </tr>
            <tr>
              <td><b>IQ:</b></td>
              <td>
                <app-stat-block [statName]="'iq'" [stat]="current.stats.iq" (statChanged)="statChanged($event)"></app-stat-block>
              </td>
              <td>{{current.stats.iq.cp}}</td>
            </tr>
            <tr>
              <td><b>HT:</b></td>
              <td>
                <app-stat-block [statName]="'ht'" [stat]="current.stats.ht" (statChanged)="statChanged($event)"></app-stat-block>
              </td>
              <td>{{current.stats.ht.cp}}</td>
            </tr>
            <tr>
              <td><b>Will:</b></td>
              <td>
                <app-stat-block [statName]="'will'" [stat]="current.stats.will" (statChanged)="statChanged($event)"></app-stat-block>
              </td>
              <td>{{current.stats.will.cp}}</td>
            </tr>
            <tr>
              <td><b>Per:</b></td>
              <td>
                <app-stat-block [statName]="'per'" [stat]="current.stats.per" (statChanged)="statChanged($event)"></app-stat-block>
              </td>
              <td>{{current.stats.per.cp}}</td>
            </tr>
          </table>
        </td>
        <td>
          <table class="top"> 
            <tr>
              <td><b>Lift ST:</b></td>
              <td>
                <app-stat-block [statName]="'liftSt'" [stat]="current.stats.liftSt" (statChanged)="statChanged($event)"></app-stat-block>
              </td>
              <td>{{current.stats.liftSt.cp}}</td>
            </tr>
            <tr>
              <td><b>Strike ST:</b></td>
              <td>
                <app-stat-block [statName]="'strikeSt'" [stat]="current.stats.strikeSt" (statChanged)="statChanged($event)"></app-stat-block>
              </td>
              <td>{{current.stats.strikeSt.cp}}</td>
            </tr>
            <tr>
              <td><b>BM:</b></td>
              <td>
                <app-stat-block [statName]="'basicMove'" [stat]="current.stats.basicMove" (statChanged)="statChanged($event)"></app-stat-block>
              </td>
              <td>{{current.stats.basicMove.cp}}</td>
            </tr>
            <tr>
              <td><b>BS:</b></td>
              <td>
                <app-stat-block [statName]="'basicSpeed'" [stat]="current.stats.basicSpeed" (statChanged)="statChanged($event)"></app-stat-block>
              </td>
              <td>{{current.stats.basicSpeed.cp}}</td>
            </tr>
            <tr>
              <td><b>FP:</b></td>
              <td>
                <app-stat-block [statName]="'fp'" [stat]="current.stats.fp" (statChanged)="statChanged($event)"></app-stat-block>
              </td>
              <td>{{current.stats.fp.cp}}</td>
            </tr>
            <tr>
              <td><b>HP:</b></td>
              <td>
                <app-stat-block [statName]="'hp'" [stat]="current.stats.hp" (statChanged)="statChanged($event)"></app-stat-block>
              </td>
              <td>{{current.stats.hp.cp}}</td>
            </tr>
          </table>
        </td>
        <td>
          <table class="top">
            <tr>
              <td><b>Fright Check:</b></td>
              <td><span>{{current.statVars.frightCheck}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Vision:</b></td>
              <td><span>{{current.statVars.vision}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Hearing:</b></td>
              <td><span>{{current.statVars.hearing}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Taste/Smell:</b></td>
              <td><span>{{current.statVars.tasteSmell}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Touch:</b></td>
              <td><span>{{current.statVars.touch}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Basic Lift:</b></td>
              <td><span>{{current.statVars.bl}}</span>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table class="top">
            <tr>
              <td><b>Size:</b></td>
              <td><span>{{current.statVars.sm}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Dodge:</b></td>
              <td><span>{{current.statVars.dodge}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Thrust:</b></td>
              <td><span>{{current.statVars.thrDmg}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Swing:</b></td>
              <td><span>{{current.statVars.swDmg}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Combat Enc.:</b></td>
              <td><span>{{current.statVars.combatEncumbrance}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Travel Enc.:</b></td>
              <td><span>{{current.statVars.travelEncumbrance}}</span>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table class="top">
            <tr>
              <td><b>Combat Move:</b></td>
              <td><span>{{current.statVars.combMove}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Travel Move:</b></td>
              <td><span>{{current.statVars.travMove}}</span>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table class="top">
            <tr>
              <td><b>Point Total:</b></td>
              <td>
                <input class="cost" type="number" [(ngModel)]="current.cp.cp" (change)="cpChanged($event)"/>
              </td>
            </tr>
            <tr>
              <td><b>Stats:</b></td>
              <td><span>{{current.cp.stats}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Advantages:</b></td>
              <td><span>{{current.cp.adv}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Disadvantages:</b></td>
              <td><span>{{current.cp.dis}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Skills:</b></td>
              <td><span>{{current.cp.skills}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Unspent:</b></td>
              <td><span>{{current.cp.unspent}}</span>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <div class="container">
    <div class="traits">
      <app-trait-list [traits]="current.traits" [category]="'Advantage'" (change)="traitChanged()"></app-trait-list>
      <app-trait-list [traits]="current.traits" [category]="'Disadvantage'" (change)="traitChanged()"></app-trait-list>
    </div>
    <app-skill-list [skills]="current.skills" (change)="skillChanged()"></app-skill-list>
  </div>
</div>