app-skill-list(*ngIf='current.char', [skills]='current.char.skills', (change)='current.updateSkills()')
app-techniques(*ngIf='current.char', [skills]='current.char.skills', [techniques]='current.char.techniques', (change)='current.updateTechniques()')