/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

body {
  background: #343837;
  height: 100%; 
  color: #A7CCC7;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
}

a {
  display: inline-block;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 5px; 
  border: solid 1px #A9AA95;
  cursor: pointer;
  background: #343837;
  color: #A9AA95;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

a:hover {
  background: #A9AA95;
  color: #343837;
  border: solid 1px #A9AA95;
}

td.numval {
  text-align: center;
  white-space: nowrap;
  width: 1%;
}

input {
  background: #343837;
  color: #A7CCC7;
  padding: 3px;
  border: solid #A7CCC7 1px;
  box-shadow: none;
  border-radius: 3px;
}

table.toplevel {
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  border-color: #A9AA95;  
  padding: 5px;
}

table caption {
  background: #4D280D;
  border: solid 1px #4D280D ;  
  font-size: 11pt;
  color: #A9AA95;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3px;
}

input.cost {
  width: 45px;
}

h3 {
  margin-top: 5px;
}

svg-icon.button {
  display: inline-block;
  border: solid 1px #A9AA95;
  border-radius: 5px;
  padding: 2px;
  fill: #A9AA95;
  width: 16px;
  height: 16px;
}

svg-icon.button:hover {
  fill: #343837;
  background: #A9AA95;
}

/*for highlight miscelanous rows*/
.list:hover {
  background: #202523;
}