
<dialog-container (done)="_done()" title="Edit Technique">
  <div> 
    <label>Name: 
      <input type="text" [(ngModel)]="technique.name">
    </label>
    <label>Skill:
      <select [(ngModel)]="technique.skill">
        <option *ngFor="let skill of skills; let i = index" value="{{skill.name}}"> {{skill.skillString}}</option>
      </select>
    </label>
  </div>
  <div> 
    <label>Default:
      <input type="number" [(ngModel)]="technique.defLvl">
    </label>
    <label>Max level:
      <input type="number" [(ngModel)]="technique.mmaxLvl">
    </label>
    <label>Difficulty:
      <select [(ngModel)]="technique.diff">
        <option value="H">Hard</option>
        <option value="A">Average          </option>
      </select>
    </label>
  </div>
</dialog-container>