.modal-header
    h3.modal-title Add Combatant
.modal-body
    .row
        .col-md-4
            label Name
                input.form-control(type="text" ng-model="combatant.name")
        .col-md-4
            label Hp
                input.form-control(type="number" ng-model="combatant.hp")
    .row 
        .col-md-6
            h4 Armor
    .row
        .col-md-4
            select.form-control(ng-model="armor_category" ng-change="select_category(armor_category)")
                option(ng-repeat="category in armor_categories" value="{{category._id}}") {{category.name}}
        .col-md-4
            select.form-control(ng-model="current_armor")
                option(ng-repeat="armor in armors track by $index" value="{{$index}}") {{armor.name}}
        .col-md-1
            span.input-group-btn
                button.btn.btn-default(ng-click="add_armor(current_armor)") Add

    .row
        .col-md-3.col-md-offset-1 Name
        .col-md-3 Locations
        .col-md-1 DR
        .col-md-1 EP Cut
        .col-md-1 EP Imp
        .col-md-1 Hp
    .row(ng-repeat="armor in combatant.armor_set track by $index")
        .col-md-1
            span.glyphicon.glyphicon-remove.cursor-hand(ng-click="remove_armor($index)")
        .col-md-3 {{armor.name}}
        .col-md-3 {{armor.locations.join(', ')}}
        .col-md-1 {{armor.dr}}
        .col-md-1 {{armor.ep_cut}}
        .col-md-1 {{armor.ep_imp}}
        .col-md-1 {{armor.hp}}

.modal-footer
    button.btn.btn-default(ng-click="ok()") Save
    button.btn.btn-default(ng-click="cancel()") Cancel