.container
  app-trait-list(*ngIf='current.char', [traits]='current.char.traits', [category]="'Advantage'", (traitChange)='traitChanged()')
  app-trait-list(*ngIf='current.char', [traits]='current.char.traits', [category]="'Disadvantage'", (traitChange)='traitChanged()')
.container
  app-trait-list(*ngIf='current.char', [traits]='current.char.traits', [category]="'Perk'", (traitChange)='traitChanged()')
  app-trait-list(*ngIf='current.char', [traits]='current.char.traits', [category]="'Quirk'", (traitChange)='traitChanged()')