
<char-editor-toolbar></char-editor-toolbar>
<div *ngIf="current.char"> 
  <div>
    <table>
      <tr></tr>
      <td>Name 
        <input type="text" name="name" [(ngModel)]="current.char.name" (change)="mainInfoChanged($event)"/>
      </td>
      <td>Player
        <input type="text" name="player" [(ngModel)]="current.char.player" (change)="mainInfoChanged($event)"/>
      </td>
    </table>
  </div>
  <div>
    <table class="mainvars">
      <tr>
        <td><img [src]="current.portrait" (click)="uploadPortrait()"/>
          <input class="file" type="file" (change)="current.uploadPortrait($event.srcElement.files)" id="portrait_file"/>
        </td>
        <td>
          <table class="top">    
            <tr>
              <td><b>ST:</b></td>
              <td>
                <app-stat-block [statName]="'st'" [stat]="current.char.stats.st" (statChanged)="current.updateStats($event)"></app-stat-block>
              </td>
              <td>{{current.char.stats.st.cp}}</td>
            </tr>
            <tr>
              <td><b>DX:</b></td>
              <td>
                <app-stat-block [statName]="'dx'" [stat]="current.char.stats.dx" (statChanged)="current.updateStats($event)"></app-stat-block>
              </td>
              <td>{{current.char.stats.dx.cp}}</td>
            </tr>
            <tr>
              <td><b>IQ:</b></td>
              <td>
                <app-stat-block [statName]="'iq'" [stat]="current.char.stats.iq" (statChanged)="current.updateStats($event)"></app-stat-block>
              </td>
              <td>{{current.char.stats.iq.cp}}</td>
            </tr>
            <tr>
              <td><b>HT:</b></td>
              <td>
                <app-stat-block [statName]="'ht'" [stat]="current.char.stats.ht" (statChanged)="current.updateStats($event)"></app-stat-block>
              </td>
              <td>{{current.char.stats.ht.cp}}</td>
            </tr>
            <tr>
              <td><b>Will:</b></td>
              <td>
                <app-stat-block [statName]="'will'" [stat]="current.char.stats.will" (statChanged)="current.updateStats($event)"></app-stat-block>
              </td>
              <td>{{current.char.stats.will.cp}}</td>
            </tr>
            <tr>
              <td><b>Per:</b></td>
              <td>
                <app-stat-block [statName]="'per'" [stat]="current.char.stats.per" (statChanged)="current.updateStats($event)"></app-stat-block>
              </td>
              <td>{{current.char.stats.per.cp}}</td>
            </tr>
          </table>
        </td>
        <td>
          <table class="top"> 
            <tr>
              <td><b>Lift ST:</b></td>
              <td>
                <app-stat-block [statName]="'liftSt'" [stat]="current.char.stats.liftSt" (statChanged)="current.updateStats($event)"></app-stat-block>
              </td>
              <td>{{current.char.stats.liftSt.cp}}</td>
            </tr>
            <tr>
              <td><b>Strike ST:</b></td>
              <td>
                <app-stat-block [statName]="'strikeSt'" [stat]="current.char.stats.strikeSt" (statChanged)="current.updateStats($event)"></app-stat-block>
              </td>
              <td>{{current.char.stats.strikeSt.cp}}</td>
            </tr>
            <tr>
              <td><b>BM:</b></td>
              <td>
                <app-stat-block [statName]="'basicMove'" [stat]="current.char.stats.basicMove" (statChanged)="current.updateStats($event)"></app-stat-block>
              </td>
              <td>{{current.char.stats.basicMove.cp}}</td>
            </tr>
            <tr>
              <td><b>BS:</b></td>
              <td>
                <app-stat-block [statName]="'basicSpeed'" [stat]="current.char.stats.basicSpeed" (statChanged)="current.updateStats($event)"></app-stat-block>
              </td>
              <td>{{current.char.stats.basicSpeed.cp}}</td>
            </tr>
            <tr>
              <td><b>FP:</b></td>
              <td>
                <app-stat-block [statName]="'fp'" [stat]="current.char.stats.fp" (statChanged)="current.updateStats($event)"></app-stat-block>
              </td>
              <td>{{current.char.stats.fp.cp}}</td>
            </tr>
            <tr>
              <td><b>HP:</b></td>
              <td>
                <app-stat-block [statName]="'hp'" [stat]="current.char.stats.hp" (statChanged)="current.updateStats($event)"></app-stat-block>
              </td>
              <td>{{current.char.stats.hp.cp}}</td>
            </tr>
          </table>
        </td>
        <td>
          <table class="top">
            <tr>
              <td><b>Fright Check:</b></td>
              <td><span>{{current.char.statVars.frightCheck}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Vision:</b></td>
              <td><span>{{current.char.statVars.vision}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Hearing:</b></td>
              <td><span>{{current.char.statVars.hearing}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Taste/Smell:</b></td>
              <td><span>{{current.char.statVars.tasteSmell}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Touch:</b></td>
              <td><span>{{current.char.statVars.touch}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Basic Lift:</b></td>
              <td><span>{{current.char.statVars.bl}}</span>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table class="top">
            <tr>
              <td><b>Size:</b></td>
              <td><span>{{current.char.statVars.sm}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Dodge:</b></td>
              <td><span>{{current.char.statVars.dodge}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Thrust:</b></td>
              <td><span>{{current.char.statVars.thrDmg}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Swing:</b></td>
              <td><span>{{current.char.statVars.swDmg}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Combat Enc.:</b></td>
              <td><span>{{current.char.statVars.combatEncumbrance}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Travel Enc.:</b></td>
              <td><span>{{current.char.statVars.travelEncumbrance}}</span>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table class="top">
            <tr>
              <td><b>Combat Move:</b></td>
              <td><span>{{current.char.statVars.combMove}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Travel Move:</b></td>
              <td><span>{{current.char.statVars.travMove}}</span>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table class="top">
            <tr>
              <td><b>Point Total:</b></td>
              <td>
                <input class="cost" type="number" [(ngModel)]="current.char.cp.cp" (change)="current.updateCp($event)"/>
              </td>
            </tr>
            <tr>
              <td><b>Stats:</b></td>
              <td><span>{{current.char.cp.stats}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Advantages:</b></td>
              <td><span>{{current.char.cp.adv}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Disadvantages:</b></td>
              <td><span>{{current.char.cp.dis}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Skills:</b></td>
              <td><span>{{current.char.cp.skills}}</span>
              </td>
            </tr>
            <tr>
              <td><b>Unspent:</b></td>
              <td><span>{{current.char.cp.unspent}}</span>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
<div [hidden]="!current.char">
  <nav><a routerLink="advdis">Adv/Dis </a><a routerLink="skills">Skills </a></nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>