.skills
  h3 Techniques 
  table 
    tr
      th Name
      th Skill
      th Diff
      th Default
      th Level
      th Total
      th Cost
      th 
    tr(*ngFor='let tech of techniques; let i = index')     
      td: input(type='text', [(ngModel)]='tech.name', (change)='techChanged()')      
      td
        select([(ngModel)]='tech.skill', (change)='techChanged()')
          option(*ngFor='let name of skillNames; let i = index', value='{{name}}')  {{name}}
      td
        select([(ngModel)]='tech.diff', (change)='techChanged()')
          option(*ngFor='let attr of tables.techniqueDifficulties; let i = index', value='{{attr.val}}')  {{attr.name}}
      td: input.cost(type='number', [(ngModel)] = 'tech.defLvl', (change)='techChanged()')
      td: input.cost(type='number', [(ngModel)] = 'tech.relLvl', (change)='techChanged()')
      td {{tech.lvl}}
      td {{tech.cp}}
      td: a(href='#', (click)='remove(i)') Remove
    tr
      td: a(href='#', (click)='add()') Add Technique